<% include header %>
<h2><%- article._id ? '编辑' : '新增' %></h2>

<div class="form form-horizontal" id="article">
    <div class="form-group">
        <label class="control-label col-lg-2 control-label required" for="AppSuperform_time_start">标题
            <span class="required">*</span>
        </label>
        <div class="col-lg-10 ">
            <input type="text" name="title" class="form-control wd4" value="<%- article.title %>" data-validate=<%- JSON.stringify({rules: ['isRequired'], msgs: ['标题不能为空！']}) %> />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 control-label required" for="AppSuperform_time_start">作者
            <span class="required">*</span>
        </label>
        <div class="col-lg-10 ">
            <input type="text" name="author" class="form-control" value="<%- article.author %>" data-validate=<%- JSON.stringify({rules: ['isRequired'], msgs: ['作者不能为空！']}) %> />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 control-label required" for="AppSuperform_time_start">所属类别
            <span class="required">*</span>
        </label>
        <div class="col-lg-10 ">
            <select name="type" class="form-control">
                <% articleTypes.forEach(function(v) { %>
                <option value="<%- v._id %>" <%- String(v._id) === String(article.type) ? 'selected' : '' %>><%- v.name %></option>
                <% }) %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 control-label required" for="AppSuperform_time_start">标签
            <span class="required">*</span>
        </label>
        <div class="col-lg-10 ">
            <% articleTags.forEach(function(v) { %>
            <input name="tags" type="checkbox" value="<%- v._id %>" <%- article.tags && ~article.tags.indexOf(v._id) ? 'checked' : '' %> /><%- v.name %>
            <% }) %>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 control-label required" for="AppSuperform_time_start">是否启用
            <span class="required">*</span>
        </label>
        <div class="col-lg-10 ">
            <select name="enabled" class="form-control">
                <option value="1">是</option>
                <option value="0" <%- article.enabled === false ? 'selected' : '' %>>否</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 control-label required" for="AppSuperform_time_start">简介
            <span class="required">*</span>
        </label>
        <div class="col-lg-10 ">
            <script type="text/plain" id="introduction" style="width: 900px; height: 140px;"><%- article.introduction %></script>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 control-label required" for="AppSuperform_time_start">内容
            <span class="required">*</span>
        </label>
        <div class="col-lg-10 ">
            <script type="text/plain" id="content" style="width: 900px;"><%- article.content %></script>
        </div>
    </div>

    <div class="col-lg-offset-2">
        <div class="form-group">
            <a href="javascript:void(0)" class="btn btn-primary" data-id="<%- article._id %>">确定</a>&nbsp;&nbsp;
            <span class="alert alert-warning js_alert hide"></span>
        </div>
    </div>

</div>

<% include footer %>