<% include header %>

<h2>博客信息管理</h2>
<div class="form form-horizontal" id="blogInfo">
    <div class="form-group">
      <label class="control-label col-lg-2 control-label required" for="AppSuperform_time_start">标题
        <span class="required">*</span>
      </label>
      <div class="col-lg-10 ">
          <input type="text" name="title" class="form-control" value="<%- blogInfo.title %>" data-validate=<%- JSON.stringify({rules: ['isRequired'], msgs: ['标题不能为空！']}) %> />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-2 control-label required" for="AppSuperform_time_start">标题
        <span class="required">*</span>
      </label>
      <div class="col-lg-10 ">
          <textarea name="keywords" class="form-control wd6 hg1" data-validate=<%- JSON.stringify({rules: ['isRequired'], msgs: ['关键词不能为空！']}) %>><%- blogInfo.keywords %></textarea>
      </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 control-label required" for="AppSuperform_time_start">标题
            <span class="required">*</span>
        </label>
        <div class="col-lg-10 ">
            <textarea name="description" class="form-control wd6 hg1" data-validate=<%- JSON.stringify({rules: ['isRequired'], msgs: ['描述不能为空！']}) %>><%- blogInfo.description %></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-lg-2 control-label required" for="AppSuperform_time_start">版权
            <span class="required">*</span>
        </label>
        <div class="col-lg-10 ">
            <textarea name="copyright" class="form-control wd6 hg1" data-validate=<%- JSON.stringify({rules: ['isRequired'], msgs: ['版权不能为空！']}) %>><%- blogInfo.copyright %></textarea>
        </div>
    </div>

    <div class="col-lg-offset-2">
        <div class="form-group">
            <a href="javascript:void(0)" class="btn btn-primary" data-id="<%- blogInfo._id %>">确定</a>&nbsp;&nbsp;
            <span class="alert alert-warning js_alert hide"></span>
        </div>
    </div>

</div>

<% include footer %>