<!DOCTYPE html>
<html>
<head>
    <title>后台管理</title>
    <!-- 缩放控制 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
    <!-- 删除默认的苹果工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet" href="/fe/static/styles/bootstrap.css"/>
    <!--[if lt IE 9]>
    <script src="/fe/js/html5.js"></script>
    <script src="/fe/js/css3-mediaqueries.min.js"></script>
    <![endif]-->
</head>
<nav class="navbar navbar-static-top navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="<%- C.adminPath %>"><%- blogInfo.title %> 后台管理</a>
        </div>
        <ul id="yw2" class="nav navbar-nav" role="menu">
            <li><a href="<%- C.adminPath %>blogInfo">博客信息</a></li>
            <li><a href="<%- C.adminPath %>articleList">文章</a></li>
            <li><a href="<%- C.adminPath %>articleTypeList">文章类型</a></li>
            <li><a href="<%- C.adminPath %>articleTagList">标签云</a></li>
            <li><a href="<%- C.adminPath %>commentList">评论</a></li>
            <li><a href="<%- C.adminPath %>singlePageList">单页面</a></li>
            <li><a href="<%- C.adminPath %>userList">用户</a></li>
            <li><a href="<%- C.adminPath %>adminList">管理员</a></li>
            <li><a href="<%- C.adminPath %>linkList">友情链接</a></li>
        </ul>
    </div>
</nav>

<div class="container">