<ul class="pagination">
  <% var size, numRange, current, path, pageCount, pagePrev, pageNext, pageNumPrev, pageNumNext, i, j; %>
  <% var rowCount = pageList.rowCount; %>
  <% if (rowCount > 0) { %>
  <% size = pageList.size; %>
  <% numRange = pageList.numRange; %>
  <% current = pageList.current; %>
  <% path = pageList.path; %>
  <% pageCount = pageList.pageCount; %>
  <% pagePrev = current - 1; %>
  <% pageNext = current + 1; %>
  <% pageNumPrev = current - numRange; %>
  <% pageNumNext = pageNext; %>
  <% i = j = 0; %>
  <% if (pagePrev > 0) { %>
  <li><a href="<%- path %>1" class="pagestart">«</a></li>
  <li><a href="<%- path %> <%- pagePrev %>" class="pageprev">‹&nbsp;</a></li>
  <% } else { %>
  <li>
    <a href="#" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  <li class="pageprev">
      <a href="#" aria-label="Previous">
          ‹&nbsp;
      </a>
 </li>
  <% } %>
  <% while(i < numRange) { %>
  <% if (pageNumPrev > 0) { %>
  <li><a href="<%- path %> <%- pageNumPrev %>"><%- pageNumPrev %></a></li>
  <% } %>
  <% pageNumPrev++; i++; %>
  <% } %>
  <li class="active"><a href="" class="disabled"><%- current %></a></li>
  <% while(j < numRange) { %>
  <% if (pageNumNext <= pageCount) { %>
 <li><a href="<%- path %> <%- pageNumNext %>"><%- pageNumNext %></a></li>
  <% pageNumNext++; %>
  <% } else { %>
  <% break; %>
  <% } %>
  <% j++ %>
  <% } %>
  <% if (pageNext <= pageCount) { %>
  <li><a href="<%- path %> <%- pageNext %>" class="pagenext">&nbsp;›</a></li>
  <li>
      <a href="<%- path %> <%- pageCount %>" class="pageend"><span aria-hidden="true">&raquo;</span></a>
  </li>
  <% } else { %>
  <li class="pagenext">
      <a href="#" aria-label="Next">
          <span aria-hidden="true">&nbsp;›</span>
      </a>
  </li>
  <li class="pageend">
    <a href="#" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
  <% } %>
  <li class="total"><%- rowCount %>条/共<%- pageCount %>页</li>
  <% } else { %>
  无记录
  <% } %>
</ul>